<section class="nfo margin-bottom light-bg" ng-click="showModal()">
  <div class="item item-borderless" >
    <span class="font-16 black">三重保障</span>
    <span class="item-note small light-positive" >更多详细</span>
  </div>
  <div class=" row small gray security text-center row-no-padding dbl-padding-bottom">
    <div class="col col-33">
      <i class="icon icon-js"></i>
      技术保障
    </div>
    <div class="col col-33">
      <i class="icon icon-sd"></i>
      水滴风控系统
    </div>
    <div class="col col-33">
      <i class="icon icon-zl"></i>
      质量保障服务专款
    </i>
  </div>
</section>
