#month_column_view {
  small {
    padding-left: 15px;
  }
  p {
    font-size: 85%;
  }
  #leoncanvas {
    text-align: center;
    background: transparent;
    margin: 0 auto;
    font-size: 12px;
  }
  canvas {
    width: 100%;
    // height: 250px;
  }
}
