#invest-detail {
  #test {
    bottom: 109px;
  }
  #pro-detail {
    position: relative;
    .tip_icon {
      background: url($img-path + 'tip_icon.png') no-repeat left center;
      background-size: 20px 20px;
      padding-left: 25px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      font-size: 12px;
    }
    .anto {
      margin: 0 auto;
    }
    .points {
      border-top: 1px solid #eee;
    }
    .progress {
      height: 1px;
      width: 100%;
      border-top: 1px solid #2196F3;
      @include display-flex();
      @include justify-content(space-between);
      margin: 40px 0 30px;
      i {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 1px solid #2196F3;
        background: #7BB3E0;
        display: block;
        position: relative;
        z-index: 100;
        margin-top: -3px;
        span {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .margin-t25 {
        margin-top: -25px;
      }
    }
  }
  #pro-info {
    position:relative;
    width: 100%;
    min-height:400px;
    .item {
      padding: 0 10px;
    }
    .tabs {
      top: 0px;
    }
    ion-slides {
      position: absolute;
      top: 49px;
      height: auto;
      bottom:0;
      .swiper-pagination {
        display: none;
      }
      .scroll-view {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        bottom: 0;
      }
    }
    .records-list {
      .scroll-view {
        top: 60px;
        bottom: 0;
      }
      i {
        width: 14px;
        height: 14px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
      .item {
        padding: 0 10px;
        .bottom {
          border-bottom: 1px solid #f5f5f5;
          margin-bottom: 1px;
        }
      }
    }
    .empty {
      text-align: center;
      margin-top: 100px;
    }
  }
}

.scrollBottom {
  position: relative;
  font-size: 14px;
  height: 30px;
  text-align: center;
  color: $gray;
  @include display-flex();
  @include align-items(center);
  @include justify-content(space-between);
  &:before,
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    min-width: 20px;
    height: 1px;
    background: rgba(151, 151, 151, .2);
    @include flex(1);
    margin: 0 10px;
  }
}


