<ion-view view-title="提现记录" id="withdraw_history">
  <div class="row header text-center light-bg dark">
    <div class="col col-33">日期</div>
    <div class="col col-33">到账金额</div>
    <div class="col col-33">状态</div>
  </div>
  <ion-content>
    <ion-refresher
      spinner="bubbles"
      pulling-icon="ion-ios-arrow-thin-down"
      pulling-text="下拉刷新"
      on-refresh="history.loadData(true)">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-text-wrap item-borderless no-padding" ng-repeat="item in history.withdrawData track by $index">
        <div class="row text-center">
          <div class="col">{{::item.createTime}}</div>
          <div class="col amount">
            {{::item.arrivePrice}}
          </div>
          <div class="col status assertive" ng-class="{positive:item.status=='SUCCESS' || item.status=='APPROVAL_PASS',grey:item.status=='INIT'}">{{::item.msg}}</div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="history.hasMoreData"
      on-infinite="history.loadData()"
      spinner="bubbles"
      immediate-check="false"
      distance="1%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
