#nb_rules_view{
	
	.small-title{
		position:relative;
		&:before{
			content: '';
			position: absolute;
			top:14px;
			left:0;
			width: 5px;
			height: 12px;
			background: #f6367b;
		}
		.assertive{color:#f6367b;}
	}
	.opacity-half{
		opacity: .5;
	}
	
}