<ion-modal-view class="pay-modal pay-detail-modal">
  <div class="bar bar-header">
    <button class="button button-icon icon ion-android-close gray" ng-click="fn.close()"></button>
    <div class="h1 title">选择付款方式</div>
  </div>
  <ion-content>
    <section class="border-bottom">
      <div class="list dbl-margin-horizontal pay-list">
        <div class="item item-icon-left item-borderless border-bottom">
          <i class="icon bank-icon bank-logo" name="{{data.bankCard.bankCode}}"></i>
          <div class="font-16  margin-l50"><span>{{data.bankCard.bankName}}({{data.bankCard.bankCardNo.substr(-4)}})</span>
            <br><span class="small light-grey">单笔{{data.bankCard.singleLimit}},单日{{data.bankCard.dayLimit}}，单月{{data.bankCard.monthLimit}}</span></div>
        </div>
        <div class="item item-icon-left item-borderless font-16" ng-click="fn.showPage('other')">
          <i class="icon bank-icon transfer-icon"></i>
          <span class="margin-l50">转账支付</span>
          <span class="small assertive recommended">推荐使用</span>
        </div>
      </div>
      <i class="icon-choose"></i>
    </section>
  </ion-content>
  <div class="bar bar-footer no-padding ">
    <div class="row">
      <div class="col">
        <span class="assertive font-26">{{data.needPay}}</span>
        <br>需付款(元)
      </div>
      <div class="col">
        <button class="button button-positive button-block" ng-disabled="" ng-click="fn.showPage('cgpwd')">确定</button>
      </div>
    </div>
  </div>
</ion-modal-view>
