#mall_data_view {
  .dataImg {
    padding: 20px 0;
    img {
      width: 100%;
      border: none;
    }
  }
  .choose{
    display: none;
  }
  .nb {
    margin-top: 20px;
    color: #3599f4;
  }
}
