#exchange_list {
  .no-border {
    border: 0px;
  }
  .small-icon {
    width: 80px;
    height: 80px;
    border: 0px;
  }
  small {
    padding-left: 5px;
    padding-right: 5px;
    @extend .gray;
  }
  small.icon {
    font-size: 12px;
    padding-right: 25px;
  }
  .ion-new:after {
    width: 24px;
    height: 14px;
    content: "";
    display: inline-block;
    background: url($img-path + "mall/mark_new@2x.png") no-repeat;
    background-size: cover;
    position: absolute;
    left: 5px;
    top: 5px;
  }
  .ion-nob {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url($img-path + "mall/memStoreNbIcon.png") no-repeat;
    background-size: cover;
    vertical-align: middle;
  }
  .discount {
    width: 73px;
    height: 14px;
    display: inline-block;
    background: url($img-path + "mall/discount.png") no-repeat;
    background-size: cover;
    color: $assertive;
    vertical-align: middle;
    text-align: center;
    line-height: 14px;
  }
  .new-btn {
    width: 230px;
    min-height: 36px;
    border: 1px solid #79B1E6;
    color: #79B1E6;
    left: 50%;
    margin-left: -115px;
    max-height: 36px;
    line-height: 36px;
    padding: 0;
  }
}
