<section class="tabs-icon-top tabs-light tabs-bottom tabs-standard">
  <div class="tabs tab-nav">
    <a href="#/home" nav-direction="exit" class="tab-item" ng-class="{'tab-item-active': active==0}" ng-click="onTabSelected()">
      <i class="icon icon-home"></i>
      首页
    </a>
    <a href="#/product/0" nav-direction="exit" class="tab-item" ng-class="{'tab-item-active': active==1}" ng-click="onTabSelected()">
      <i class="icon icon-product"></i>
      投资
    </a>
    <a href="#/discover" nav-direction="exit" class="tab-item" ng-class="{'tab-item-active': active==2}" ng-click="onTabSelected()">
      <i class="icon icon-discovery"></i>
      发现
    </a>
    <a href="#/mine" nav-direction="exit"  class="tab-item" ng-class="{'tab-item-active': active==3}" ng-click="onTabSelected()">
      <i class="icon icon-mine"></i>
      我的
    </a>
  </div>
</section>