<ion-modal-view id="rename_modal">
  <ion-content >
    <section class="row row-center row-no-padding full-height">
      <div class="relative">
        <i class="icon-close" ng-click="close()"></i>
        <img class="rename-img" src="assets/images/rename_popup.png" ng-click="getMore()">
        <div class="light-bg" ng-click="getMore()">
           <button class="button-block button button-positive">了解详情</button>
        </div>
       
      </div>
    </section>
  </ion-content>
</ion-modal-view>