<h1 class="title">一、计划概述</h1>
<section class="content">
  <div class="box">
    <p>0元计划是诺诺镑客推出的，为用户提供自动循环出借及到期自动转让退出的投标服务。用户授权贴心计划进行分散投资、本息回款复投及到期自动转让，提高了小额分散投资、本息回款及时复投和到期自动转让的效率，在满足用户多样化的投资需求同时，提供更好的投资体验。
    </p>
  </div>
</section>
<h1 class="title">二、计划要素</h1>
<section class="content">
  <div class="box">
    <h2 class="mt0">1. 适用对象</h2>
    <p>诺诺镑客平台的已完成实名认证的注册用户。</p>
    <h2>2. 计划投资范围</h2>
    <p>诺诺镑客平台上发布的借款标的，具体以每期计划实际匹配债权为准。</p>
    <h2>3. 本期计划额度</h2>
    <p>本期计划可投资的总额度，具体以每期计划实际发布内容为准。</p>
    <h2>4. 预期年化收益率</h2>
    <p>具体以当期计划实际发布内容为准。</p>
    <h2>5. 回款方式</h2>
    <p>计划匹配期结束后，奖励以商品形式发放，计划锁定期结束后，转让退出一次性还本金及利息（如有）。</p>
    <h2>6. 投资限额</h2>
    <p>起投金额及投资上限，具体以当期计划的实际发布内容为准。</p>
    <h2>7. 匹配期</h2>
    <p>系统匹配债权的时间。</p>
    <h2>8. 锁定期</h2>
    <p>募集期结束后，投资计划进入锁定期，锁定期以具体计划内容为准。锁定期内每期回款本金和收益将自动循环复投至新的债权。</p>
    <h2>9. 到期退出</h2>
    <p>锁定期届满时，系统将用户所持有的债权通过债权转让方式自动完成退出，债权转让完成的具体时间，视债权转让市场交易情况而定。</p>
    <h2>10. 提前退出</h2>
    <p>0元计划不支持提前退出。</p>
  </div>
</section>

<h1 class="title">三、投资计划管理及相关费用</h1>
<section class="content">
  <div class="box">
    <h2 class="mt0">1. 资金专户管理</h2>
    <p>诺诺镑客为借出者设立计划专项资金子账户，单独管理及复核，与其它投资资产互相独立。</p>
    <h2>2. 协议签署</h2>
    <p>参与贴心计划的借出者必须确认《0元计划服务协议书》，并授权该合同电子版由第三方（深圳法大大网络科技有限公司）电子签名saas服务平台完成电子签名及加密。</p>
    <h2>3. 相关费用</h2>
    <h2>a) 充值费</h2>
    <p>第三方支付费(充值金额的 0.5%，目前优惠期间内充值手续费由诺诺镑客垫付)</p>
    <h2>b) 服务费</h2>
    <p>诺诺镑客将预期收益的超出部分作为服务费收取，未超出预期收益则不收取任何服务费。</p>
  </div>
</section>
<h1 class="title">四、风险揭示</h1>
<section class="content">
  <div class="box">
    <p>本系列服务有投资风险，客户应充分认识投资风险，谨慎投资。客户投资本系列可能面临的风险主要包括:</p>
    <h2 class="mt0">1 . 政策风险</h2>
    <p>本服务系列是针对当前相关法律、法规和规定设计而成，如遇到国家宏观政策和市场相关法律法规发生变化，可能影响到本服务系列正常工作的运行。若出现上述情况，客户可能面临投资本金和收益遭受损失的风险。</p>
    <h2>2. 信用风险</h2>
    <p>本服务系列投资于企业或个人借贷项目，借出者面临项目借款人的信用违约。诺诺镑客平台承诺平台发布的投资标的严格执行风控审核，并且每期计划都会明确对应的保障计划。</p>
    <h2>3. 不可抗力及意外事件风险</h2>
    <p>自然灾害、战争等不能预见、不可避免、不能克服的不可抗力事件或系统故障、通讯故障、第三方支付平台故障等意外事件的出现，可能导致交易收益降低或本金损失。对于由不可抗力及意外事件风险导致的任何损失，客户须自行承担，诺诺镑客对此不承担任何责任。但在力所能及范围内，诺诺镑客将提供应急措施。
</p>
  </div>
</section>
<h1 class="title">五、信息披露</h1>
<section class="content">
  <div class="box">
    <p>诺诺镑客将自本服务系列发布日起，在上海诺诺镑客金融信息服务有限公司网站(www.nonobank.com)或相关营业网点发布相关信息。在标的锁定期内如发生可能影响正常估值的情况时，诺诺镑客将及时在平台网站或相关营业网点上公布相关信息</p>
  </div>
</section>
<h1 class="title">六、其他相关规则</h1>
<section class="content">
  <div class="box">
    <h2 class="mt0">1. 分散投资规则</h2>
    <p>系统根据每位借出者的资金总额，将资金自动拆分成一定份数(原则上不超过 20 份，视具体情况而定)，分散投资给诺诺镑客平台上的借款标的，具体以实际的债权匹配情况为准。
    </p>
    <h2>2. 到期结算规则</h2>
    <p>锁定期届满时，诺诺镑客平台根据当期计划交易规则撮合用户与其他用户完成转让交易实现退出，服务系统自动为用户加入当期服务计划期间的投资本金及收益（如有）进行结算，用户投资本金及收益将于退出日（债权转让退出的具体退出日）按照平台交易规则返还至用户的普通账户。
    </p>
    <h2>3. 平台提现规则</h2>
    <p>详见“帮助中心-我的镑客-提现”。
    </p>
  </div>
</section>
