<h5>一、  服务计划意向</h5>
<p>1. 在互联网金融模式下，乙方推出0元计划服务，为加入服务计划的出借人提供更加贴心、便捷的服务，并将尽最大努力维护出借人的合法利益。
</p>
<p>2. 甲方同意加入本次服务计划，并自愿遵守诺诺镑客网站现有的全部规则及诺诺镑客后期不断更新、公布的相关规则，同时同意根据诺诺镑客后续修订规则完成交易。</p>

<h5>二、  服务计划金额</h5>
<p>1.甲方以下列自有合法资金加入本次服务计划：
<section class="text-center table">
  <div class="row">
    <div class="col-50">申请加入时间（年月日）</div>
    <div class="col-50">加入金额（单位:元）</div>
  </div>
  <div class="row" ng-repeat="record in protocol.product.records">
    <div class="col-50">{{::record.date}}</div>
    <div class="col-50">{{::record.amount}}</div>
  </div>
  <div class="row">
    <div class="col-50">总计：</div>
    <div class="col-50">{{::protocol.product.total}}</div>
  </div>
</section>
<!-- <br>申请加入时间：【  】年【  】月【  】日
<br>加入金额总计：人民币【 {{::protocol.product.total}}】元 -->
</p>
<p>2. 甲方加入本次服务计划后，乙方将按照各投资人加入的时间先后顺序，为甲方提供计划服务，即为甲方提供优先自动投标服务。
</p>

<h5>三、  服务计划要素</h5>
<p>1.  服务名称：0元计划--【{{::protocol.product.fp_title}}】期（上下文均称"本次服务计划"或“服务计划”）。</p>
<p>2.  服务概述：甲方加入本次服务计划后，在匹配期内，乙方依据甲方加入本次服务计划的投资金额，为甲方提供相应投资金额的优先自动投标服务。甲方退出时，服务系统自动为甲方加入本次服务计划期间的投资本金及收益（如有）进行结算，乙方根据本协议交易规则撮合甲方与其他用户完成转让交易实现退出。甲方投资本金及收益将于退出日按照平台交易规则返还至甲方收款账户。</p>
<p>3.  优先自动投标范围：诺诺镑客平台上发布的各类债权转让资产、资金借贷资产等，前述标的的具体情况甲方应通过诺诺镑客平台公示信息进行详细了解。甲方确认本协议，即视为甲方已就相关标的的信息及风险有充分认知，并有能力承担相应投资风险。</p>
<p>4.  加入本次服务计划的金额要求：最低加入金额为人民币【{{::protocol.product.fp_price_min | currency:''  }} 】元，并以人民币【 {{::protocol.product.fp_price_increment | currency:''}} 】元整数倍递增，最高不超过人民币【{{::protocol.product.fp_price_max | currency:''}}  】元。</p>
<p>5.  匹配期：指本协议生效后，乙方依据本协议为甲方完成投资标的匹配（即甲方因接受本协议服务与其他用户达成具体交易）服务的期限，自 {{::protocol.product.fp_publish_date}} 至{{::protocol.product.fp_start_date}}，投资标的的收益起算时间以实际完成匹配的期限为准。</p>
<p>6.  锁定期：指匹配期终止后，甲方接受本协议服务的最短期限，本协议服务锁定期三个月，自{{::protocol.product.fp_start_date}} 至{{::protocol.product.fp_end_date}} 具体锁定期间以上述资产匹配期限的实际交易情况为准。锁定期内，甲方不能提前退出本次服务计划，即甲方加入本次服务计划的投资本金及所获收益（如有）不能申请从事其他交易或提现。</p>
<p>7.  结算日：本服务计划的回款方式为到期还本付息，甲方实际全部成功退出之日为结算日(即锁定期满后乙方帮助甲方自动全部退出），乙方对甲方应获回款进行结算后该等回款到达甲方在诺诺镑客的账户中。</p>
<p>8.  退出条件：
<br>A.  锁定期满且甲方在本协议项下获得的债权未发生逾期还款情况的，除非另有约定，乙方自锁定期满之日依据本协议约定退出方式协助甲方全部退出。
<br>B.  甲方加入本次服务计划后，不能申请提前退出也不得通过债权转让方式退出。</p>
<p>9.  退出方式：无论甲方因何种原因退出本次服务计划，甲方均确认并授权，如甲方因本协议获得的投资标的尚未届清偿期，则乙方撮合甲方与其他用户完成债权转让交易，以实现甲方顺利退出。甲方同时知悉并同意，如甲方届时持有债权已出现逾期或其他违约情况，则甲方须待逾期偿付款项清偿完毕后按照前述约定实现退出。且无论甲方因何种类原因退出本服务计划，都存在乙方尽最大努力帮助甲方撮合交易后仍未能成功使甲方退出或全部退出的，则甲方将继续持有全部或部分该等债权直到乙方撮合成功，甲方方才全部成功退出。</p>
<p>10. 预期年化利率：甲方加入本次服务计划后预期可获得的投资年化利率为【{{::protocol.product.fp_rate_min}}%-{{::protocol.product.fp_rate_max}}% 】%，该数据仅供甲方参考，不构成乙方对甲方投资收益的任何保障。甲方同时确认，乙方不保证甲方本金或收益不受任何损失，甲方应自行承担因接受本协议服务及获得具体投资标的所产生的投资风险。甲方实际投资收益，以因接受本协议服务所获得的具体投资标的情况确认。</p>
<p>11. 本协议相关费用
<br>A.  交易手续费：指支付机构或银行收取的投资资金划转相关费用。包括：
<br>a)  在线充值费：充值金额的0.5%
<br>b)  支付机构或银行委托划扣手续费：单笔划扣上限为499997元（以乙方合作的支付机构或银行公布的具体限额为准），手续费为3元/笔，大于上限的金额系统自动按最优拆分划扣。
本服务计划目前处于优惠服务期，在此间内，甲方在线充值费及支付机构或银行委托划扣手续费均暂由诺诺镑客承担，乙方有权自主决定终止优惠充值期，届时甲方应当自行承担相关费用。
<br>B.  乙方服务费：甲方实际收益未达到本协议确认的预期利率的，乙方不收取交易服务费用。甲方实际获得收益超出根据本协议约定预期利率计算所得收益的，超出部分作为乙方在本协议项下的交易服务费，归乙方所有。
<br>C.  甲方同意，乙方有权根据本协议或其他相关协议约定指令支付机构或银行将本协议项下费用直接从甲方投资资金或回款中划扣给相应收费主体。
</p>

<h5>四、  服务内容及授权</h5>
<p>1.  本协议生效后，乙方以分散匹配为原则，撮合甲方与其他用户达成本协议投资标的范围的相关交易。甲方同意并授权乙方有权依据本协议约定内容代其确认相关交易协议，并将甲方信息提供给其他用户。甲方知悉并确认本协议服务项下所涉交易协议的内容。</p>
<p>2.  回款再投资授权
甲方同意，甲方未退出本次服务计划前，如获得相关投资标的债务人返还的回款（包括本金、收益及其他款项），授权乙方继续按照本协议服务规则协助甲方实现回款的再投资。</p>
<p>3.  退出限制及授权
<br>A.  甲方同意，甲方退出本次服务计划时，乙方有权按照本协议确认的债权转让定价规则代甲方与其他用户达成债权转让交易并确认相关交易文件，并促使甲方获得相应退出回款。
<br>B.  如锁定期满时，甲方所持债权存在逾期情况，甲方同意并确认，继续持有逾期债权至逾期情况消除或债务人全部偿还借款。甲方授权，如逾期情况在锁定期届满后消除，则乙方在逾期情况消除后按照退出规则促使甲方进行债权转让并实现退出。
</p>
<p>4.  甲方同意，乙方依据本协议服务内容代甲方确认的法律文件甲方均认可其法律效力。不得因具体文件确认前未经甲方额外授权而否认相关法律文件效力。</p>
<p>5.  甲方可以分多次加入本服务计划，每次加入服务的行为均是相互独立的，依据各次加入时确认的法律文件享有权利、履行义务。</p>
<p>6. 本协议生效后，甲方同意并授权乙方有权依据本协议及本协议相关具体交易协议内容，指令合作的支付机构或银行冻结、划扣甲方的投资资金（包括但不限于投资本金、回款及其他与本协议相关的交易资金）。</p>

<h5>五、  服务计划保障及免责事项</h5>
<p>1.  为降低甲方因投资标的过于集中所带来的信用违约风险，甲方同意授权乙方对甲方加入本次服务计划金额安排分散化的优先自动投标。</p>
<p>2.  为保证本次服务计划的及时性，本协议生效后，乙方立即为甲方加入计划资金提供优先自动投标服务。乙方将撮合甲方与债权转让人、借款人等交易相对方达成具体交易协议（包括但不限于《债权转让协议》、《借款协议》等），进行债权转让或受让、出借资金等交易，并按照本服务计划约定，指令支付机构划转甲方的投资资金、回款及其他与本服务交易相关的款项。</p>
<p>3.  甲方明确知悉且同意，乙方不对甲方投资资金或回款能够立即完成交易匹配进行任何形式的承诺，且在未实现交易匹配时，甲方投资资金或回款将被冻结直至退出或进行本协议相关交易，甲方明确在前述资金冻结期间，该等资金不会产生任何形式的利息或收益。</p>
<p>4.  甲方明确知悉且同意，乙方不对甲方能够按时退出本次服务计划做任何形式的承诺。如没有其他用户与甲方进行交易或甲方在本协议项下获得的债权发生逾期、违约等情况，甲方均无法及时退出本次服务计划，甲方将继续持有加入本服务计划项下对应的所有债权并自愿承担因此产生的损失，且不追究乙方任何违约或赔偿责任。</p>
<p>5.  甲方在本次服务计划中的投资行为适用【{{::protocol.product.fp_protect_plan}}】，该计划具体规则依据平台另行发布的内容为准。乙方有权单方决定终止本条约定，届时乙方将以公告或站内信等双方确认的通知方式告知甲方，甲方对此无异议，且不因此追究乙方责任。</p>
<p>6.  甲方同意，乙方可以自行决定以公告或站内信通知方式终止提供本协议服务，乙方终止本协议服务时，可按照本协议退出规则实现甲方全部退出，如存在上述约定无法退出情况的，甲方须继续持有相关债权，且在乙方终止提供服务后，乙方不再提供债权转让交易相关服务，甲方须依据平台其他交易规则实现转让目的。乙方终止本协议服务后，不对甲方的资金流动性及收益提供任何形式的承诺，甲方同意不因此向乙方主张违约或赔偿责任。</p>

<h5>六、  甲方承诺与保证</h5>
<p>1.  甲方承诺具备一定的投资风险意识、风险识别能力，拥有非保本类金融产品投资的经历并熟悉互联网。</p>
<p>2.  甲方向乙方提供的全部信息均是真实、准确、完整的。</p>
<p>3.  甲方已了解本协议服务可能发生的风险，具有相应的风险认知和承受能力。</p>
<p>4.  甲方保证加入本次服务计划的投资资金为其合法所得且具有完全处分权，否则因资金权属或合法性导致的损失，由甲方自行承担。</p>
<p>5.  甲方保证遵循借贷自愿、诚实守信、责任自负、风险自担的原则承担风险。</p>
甲方同意授权乙方代其按照本协议约定撮合其完成具体交易行为、确认相关交易协议等。
<p>6.  甲方同意乙方基于本协议所获取的与甲方相关的信息，可依据本协议服务目的提供给其他交易方，同时同意乙方可自行搜集、整理、分析该等信息，并为提高其服务质量进行其他合理使用。</p>
<p>7.  甲方确认，在签署本协议以前，乙方已就本协议及有关交易文件的全部条款和内容通过网站信息展示、客户咨询等方式向甲方进行了详细的说明和解释，甲方已认真阅读本协议有关条款，对有关条款不存在任何疑问或异议，并对协议双方的权利、义务、责任与风险有清楚和准确的理解。</p>

<h5>七、  意外事件</h5>
<p>1.  如因司法机关或行政机关对甲方采取强制措施导致甲方在本协议项下投资资金被全部或部分扣划、冻结，该部分扣划或冻结资金视为甲方提前退出本次服务计划，不再享有相关收益。</p>
<p>2.  甲方同时同意，如发生上述事项，且甲方仍有部分资金未退出的，乙方有权提前终止本协议。</p>
<p>3.  本协议因上述原因终止的，乙方可按照甲方持有的剩余债权所对应投资本金金额撮合甲方完成债权转让，因此产生的损失由甲方自行承担。</p>

<h5>八、  风险提示</h5>
<p>1.  政治风险
<br>国家因国家宏观政策、财政政策、货币政策、行业政策、地区发展政策等因素引起的系统风险；
</p>
<p>2.  收益风险
<br>甲方知悉、了解并同意，本协议项下所涉及的任何收益均为预期收益，乙方未以任何方式对本金及预期收益进行承诺或担保，如借款人发生逾期或违约等情况，甲方面临无法获得预期收益，甚至发生投资本金亏损的风险。
</p>
<p>3.  资金流动性风险
<br>甲方加入本次服务计划后，其投资资金在锁定期届满前无法退出。同时，乙方并不对甲方退出本次服务计划的时间做任何保证，如平台其他用户无法与甲方达成债权转让交易，甲方面临流动性风险。 
</p>
<p>4.  不可抗力
<br>由于战争、动乱、自然灾害等不可抗力因素的出现而可能导致甲方投资资金损失的风险。
</p>
<p>5.  债务人违约风险
<br>当债务人出现短期或者长期丧失还款能力（包括但不限于经营状况恶化、财产状况发生变化、人身出现意外、发生疾病、死亡等情况），或者其还款意愿发生变化时，甲方的投资资金可能无法按时回收甚至发生损失。
</p>
<p>甲方承诺乙方已通过本协议及诺诺镑客平台公示信息向甲方充分披露本次服务计划可能面临的风险，甲方已自行了解并确认，其具有承受相应风险的能力，同时愿意承担相关交易所发生的所有风险。
</p>

<h5>九、  税费</h5>
<p>甲方因加入本次服务计划所获收益或其他事项所发生的税费，由甲方自行承担。</p>

<h5>十、  争议解决</h5>
<p>本协议项下产生的纠纷，双方先行协商解决，协商不成的，任何一方可向乙方所在地法院提起诉讼。</p>

<h5>十一、  其他事项</h5>
<p>1.  本次服务计划不提供纸质交易文件。甲方可通过平台提供的信息及查询方式或咨询客服人员等方式了解相关信息，如未及时查询，或由于通讯故障、系统故障以及其他不可抗力等因素影响使甲方无法及时了解相关信息，由此产生的责任和风险由甲方自行承担。 
</p>
<p>2.  本协议、甲方通过点击确认与乙方签署其他服务或注册协议、甲方基于本服务计划由乙方代为确认签署的标的资产相关交易协议等相关法律文件，以及平台不时公示/更新的平台规则及与本服务相关的交易规则、说明、公告等涉及甲乙双方权利义务的法律文件，共同构成了约束甲方接受乙方在本协议项下所提供服务时应遵守的依据。甲方均须予以遵守，否则须承担相应损失、违约或赔偿责任。 
</p>
<p>3.  由于地震、火灾、战争、电力中断、黑客攻击、计算机病毒、系统或网络故障等不可抗力导致的交易中断、延误的，甲乙双方互不追究责任。但应在条件允许的情况下，应采取一切必要的补救措施以减小不可抗力造成的损失。 
</p>
<p>4.  本协议经甲方在诺诺镑客网站点击确认即生效，但具体交易行为在相关交易文件确认后依据交易文件具体内容生效及终止。如乙方对本次服务计划设有最低服务规模限制的，甲方同意，在加入本次服务计划的投资人不满足该等规模要求的时候，乙方有权宣布本次服务计划未成立，并单方终止本协议，甲方因加入本次服务计划已划扣或冻结的资金，将被返还或解冻，且不会获得任何收益。
</p>
<p>5.  甲方点击加入本服务即视为甲方完全理解并接受本协议全部内容。本协议生效后，如甲方在平台交易账户中无充足资金可加入本服务，导致乙方无法指令支付机构或银行完成与本服务相关资金支付的，本协议加入资金以实际划转金额为准。本协议采用电子文本形式制成，对各方均具有法律约束力。甲方同意，本协议签署后存储在乙方或乙方合作的第三方专用服务器上。除非法律法规规定，或监管部门要求，本服务不提供纸质合同或相关信息清单。
</p>
