<h1 class="title">一、功能概述</h1>
<section class="content">
  <div class="box">
    <p>上海诺诺镑客金融信息服务有限公司运营的金融信息服务平台www.nonobank.com（以下简称“平台网站”）的债权转让功能旨在帮助广大平台网站的出借用户提高投资的流动性。用户在需要流动性时，可以通过出售其名下拥有的符合相应条件的债权给其他出借用户，从而完成债权转让，获得流动资金。</p>
    <p>债权转让过程中，系统会实时给出转让债权的当前转让价值。为尽快达成债权转让，出借用户在当前转让价值的基础上可以对转让债权进行相应的折溢价选择，出借用户确认转让的债权会在债权列表中展示并等待其他出借用户购买，在此期间发起转让的出借用户可以随时选择撤销尚未转让的债权部分或由系统定期撤销。转让完成后，针对发起债权转让的出借用户，平台网站会收取基于成交金额一定比例的债权转让服务费。</p>
    <p>出借用户在购买转让债权的过程中，既可以全部购买，也可以部分购买即购买一定份额的债权。购买转让债权的出借用户可以随时对已获得的债权再次发起债权转让，债权在转让过程中不限制转让次数。平台网站对购买债权的出借用户在债权转让过程中不收取任何费用。</p>
  </div>
</section>
<h1 class="title">二、名词解释</h1>
<section class="content">
  <div class="box">
    <h2 class="mt0">1. 债权转让</h2>
    <p>指债权转让人通过签订《债权转让服务协议》将所持有的债权转让给债权受让人的操作。</p>
    <h2>2. 转让中</h2>
    <p>指债权处于可被出售/购买的状态。</p>
    <h2>3. 转让完成</h2>
    <p>指债权转让交易完成，债权债务关系转变完成。</p>
    <h2>4. 转让撤销</h2>
    <p>指撤销未完成的债权转让操作，使债权不再处于转让中状态。</p>
    <h2>5. 自动撤销</h2>
    <p>指债权转让过程中，遇到债权本身的状态变更，如从正常还款变为逾期还款状态，或借款人全部偿还剩余金额（提前还款）时，系统将自动撤消该笔债权的转让操作。（每天结算）</p>
    <p>转让价格=当期转让价值×折让系数</p>
    <p>剩余本金及利息详见债权收款列表</p>
    <h2>6. 转让系数</h2>
    <p>指债权转让时，出借用户可自行选择的转让价值比例系数，该系数与债权本身属性、债权转让发生时的市场行情等相关。</p>
    <h2>7.转让盈亏</h2>
    <p>指债权转让时债权价格与债权价值相比，所产生的转让盈亏数额。</p>
    <h2>8. 份数</h2>
    <p>债权转让的最小单位，债权的原始投资金额为100元为一份。</p>
    <h2>9. 原始投资金额</h2>
    <p>指债权最初形成时的出借金额。</p>
  </div>
</section>
<h1 class="title">三、转让条件</h1>
<section class="content">
  <div class="box">
    <p>平台网站的债权需要符合一定的条件方可进行转让交易，具体如下：</p>
    <p>1、购买诺诺散投获得的债权；</p>
    <p>2、购买债转获得的债权；</p>
    <p>3、购买支持债转服务的诺诺精选计划获得的债权；</p>
    <p>4、债权收息日为t日，则t-1至t+1日系统不支持转让；</p>
  </div>
</section>
<h1 class="title">四、收费定价</h1>
<section class="content">
  <div class="box">
    <h2 class="mt0">A. 债权转让服务费</h2>
    <p>债权转让成功后，平台网站会向转让人收取完成转让金额的一定比例的转让服务费。</p>
    <p>购入债权的用户除支付给债权转出者相应的金额外，无需承担任何费用。</p>
    <p>转让服务费=每份债权转让价格*转让份额 * c% </p>
    <p>服务费比例C%=1%（平台网站保留根据市场行情和运营情况的变化对服务费比例进行调整的权利）</p>
    <h2>B.债权转让价格</h2>
    <p>转让价格=当前债权价值×转让系数</p>
    <p>转让系数=由客户自行设定，默认为100%</p>
    <p>当前债权价值由系统根据借款标的金额、年利率、借款期限按借款标的还款方式，自动折算成当期价值。</p>
  </div>
</section>
<h1 class="title">五、免责条例</h1>
<section class="content">
  <div class="box">
    <p>平台网站仅为用户进行债权转让提供信息中介服务，在平台网站上的债权转让是客户个人的自主行为，平台仅提供技术支持，对用户是否完成债转，债转过程中的盈亏以及遭受的其他损失均不承担任何法律责任。</p>
  </div>
</section>

