<h1 class="title">一、邀请方式</h1>
<section class="content">
  <div class="box">
    <p>1、 电脑端通过官网页面所展示的方式进行邀请。</p>
    <p>2、 手机端点击APP首页"邀请有礼"镑客大使，通过微信或QQ进行邀请。</p>
  </div>
</section>
<h1 class="title">二、奖励规则</h1>
<section class="content">
  <div class="box">
    <h2 class="mt0">邀请人：</h2>
    <p>1、凡有推荐好友，自好友注册之日起1年内，好友投资定期项目（新客专享计划/贴心计划/月月升/诺诺盈/债转项目），您每日可获得好友年化投资本金1%的返现。如：投资10万元3月贴心计划，您每日可获得10万／4×1%÷365的现金奖励；</p>
    <p>2、单个新客好友首投≥5000元，即给邀请人返50元现金券（5000元起投贴心3-24月期，10天有效）。好友数量越多，现金券越多；</p>
    <p>3、6月28号至7月28号(不含)期间，老用户（历史投资过3月期及以上计划类产品单笔金额≥5000元）可获得88800元特权本金礼包，用于分发给好友，新客好友可领取随机金额特权本金，10天未领取完，余额失效。特权本金激活后按年化利率8.8%计活动收益，连续计算5天，新客投资(不含诺诺盈、债转)可激活返至余额，若在领取后的30日未激活则失效；
    </p>
    <p>4、若特权本金余额为0时，单笔投资金额≥5000元（投资计划类产品期限3月期及以上）即可再获得特权本金。</p>
    <p>现金奖励将每日结算，结算金额=所有好友昨日持有本金*1%/365，如好友提现、债转或项目到期，现金奖励将停止发放。现金奖励将发放到您的平台余额中，可直接用于投资或提现。</p>
    <p>另外还有不定期的邀请加码返利活动，福利叠加。</p>
    <h2>被邀请人：</h2>
    <p>1、好友注册即可享888元现金券礼包，新客专享历史年化12%收益产品；</p>
    <p>2、好友首投金额≥5000元，好友可获得2%加息券；</p>
    <p>3、好友首投到期，好友可获得1%加息券。</p>
  </div>
</section>
<h1 class="title">三、申明</h1>
<section class="content">
  <div class="box">
    <p>1、如邀请采用某些技术手段，或是邀请得用户身份异常，一经核实，平台保留支付奖励的权利；</p>
    <p>2、邀请好友奖励属于劳务报酬所得，平台不代缴个人所得税，请获得奖励的用户自行缴纳个人所得税；</p>
    <p>3、活动规则将根据实际情况调整，请关注官网活动通知。</p>
  </div>
</section>
