<h1 class="title">一、计划概述</h1>
<section class="content">
  <div class="box">
    <p>诺诺懒人投资计划是诺诺镑客平台推出的，以系统规则自动投资平台提供的标的 （机构担保标、实地认证标、信用认证标等）为基础的稳健、安全、便捷、透明的投资模式。加入诺诺懒人投资计划的资金将优先于普通投资用户的资金，根据系统设定的分散投资原则进行优先投资。
    </p>
    <p>参与诺诺懒人投资，第一步为匹配期，匹配过程中系统自动挑选标的并优先匹配；第二步为锁定期，锁定期为循环运营周期，每月回款将循环复投直到锁定期结束，充分 发挥复利投资的效应。锁定期结束后，投资者可选择退出或再投资。如选择退出，平台将在锁定期结束后进行本金和利息的结算。结算后，本金和收益将自动划转到用户普通 账户内。
    </p>
  </div>
</section>
<h1 class="title">二、计划要素</h1>
<section class="content">
  <div class="box">
    <h2 class="mt0">1. 适用对象</h2>
    <p>诺诺镑客平台的注册用户，并且通过实名认证。</p>
    <h2>2. 计划投资范围</h2>
    <p>在诺诺镑客平台上发布的借款标的，以具体计划内容为准。</p>
    <h2>3. 本期开放额度</h2>
    <p>本期计划可投资的总额度，以每期具体计划内容为准。</p>
    <h2>4. 预期年化收益率</h2>
    <p>具体以当期计划的实际发布内容为准</p>
    <h2>5. 回款方式</h2>
    <p>到期结算利息或到期结算本息</p>
    <h2>6. 个人投资限额</h2>
    <p>最低单笔份额及投资上限以当期计划的实际发布内容为准。</p>
    <h2>7. 匹配期</h2>
    <p>申请加入该计划的时间范围。</p>
    <h2>8. 锁定期</h2>
    <p>匹配期结束后，投资计划进入锁定期，锁定期以具体计划内容为准。锁定期内投资 不得退出，回款本金和收益将循环复投。
    </p>
    <h2>9. 到期结算</h2>
    <p>系统将会在锁定期结束后进行本息的结算，结算完成后的资金将自动划转至用 户 普通账户中。
    </p>
  </div>
</section>
<h1 class="title">三、计划原理</h1>
<section class="content">
  <div class="box">
    <p><img src="./assets/images/tos/lrjh_pic.png" class="full-width"></p>
  </div>
</section>
<h1 class="title">四、投资计划管理及相关费用</h1>
<section class="content">
  <div class="box">
    <h2 class="mt0">1. 资金专户管理</h2>
    <p>诺诺镑客为借出者设立专项账户，单独管理及复核，与其它投资资产互相独立。</p>
    <h2>2. 协议签署</h2>
    <p>参与诺诺懒人投资计划的借出者须确认《诺诺懒人投资计划服务协议书》，该合同电子版将经过中国金融认证中心（CFCA）加密。CFCA 同时服务于北交所、北国税 局、 上海建行等重要金融机构。</p>
    <h2>3. 相关费用</h2>
    <h2>a) 充值费</h2>
    <p>第三方支付费（充值金额的0.5%，目前优惠期间内充值手续费由诺诺镑客垫 付）
    </p>
    <h2>b) 服务费</h2>
    <p>诺诺镑客将既定收益的超出部分作为服务费收取，未超出预期收益则不收取任 何服务费。
    </p>
  </div>
</section>
<h1 class="title">五、风险揭示</h1>
<section class="content">
  <div class="box">
    <p>本系列服务有投资风险，客户应充分认识投资风险，谨慎投资。客户投资本系列可 能面临的风险主要包括：
    </p>
    <h2 class="mt0">1 . 政策风险</h2>
    <p>本服务系列是针对当前相关法律、法规和规定设计而成，如遇到国家宏观政策和市 场相关法律法规发生变化，可能影响到本服务系列正常工作的运行。若出现上述情 况，客户可能面临投资本金和收益遭受损失的风险。
    </p>
    <h2>2. 信用风险</h2>
    <p>本服务系列投资于企业或个人借贷项目，借出者面临项目借款人的信用违约。诺诺镑客承诺平台发布的投资标的严格执行风控审核，并且每期计划都会明确对应的保 障计划。
    </p>
    <h2>3. 不可抗力及意外事件风险</h2>
    <p>自然灾害、或者等不能预见、不可避免、不能克服的不可抗力事件及系统故障、通讯故障、第三方支付平台故障等意外事件的出现，可能导致交易收益降低或本金损 失。对于由不可抗力及意外事件风险导致的任何损失，客户须自行承担，诺诺镑客对此不承担任何责任。但在力所能及范围内，诺诺镑客将提供应急措施。
    </p>
  </div>
</section>
<h1 class="title">六、信息披露</h1>
<section class="content">
  <div class="box">
    <p>诺诺镑客将自本服务系列发布日起，在上海诺诺镑客金融信息服务有限公司网站 (www.nonobank.com)或相关营业网点发布相关信息。在标的锁定期内如发生可能影响正常估值的情况时，诺诺镑客将及时在平台网站或相关营业网点上公布相关信息。
    </p>
  </div>
</section>
<h1 class="title">七、其他相关规则</h1>
<section class="content">
  <div class="box">
    <h2 class="mt0">1. 分散投资规则</h2>
    <p>系统根据每位借出者的资金总额，将资金自动拆分成一定份数（原则上不超过 20 份，视具体情况而定），分散投资给诺诺镑客平台上的借款标的。
    </p>
    <h2>2. 到期结算规则</h2>
    <p>系统将在锁定期的最后一天（截止到凌晨 24 点），对锁定期内参与计划的本金和总利息做统一结算。超出预期收益的部分将作为服务费归诺诺镑客所有。
    </p>
    <h2>3. 平台提现规则</h2>
    <p>详见“帮助中心-我的镑客-提现”。
    </p>
  </div>
</section>
