<div>
  <p>
    尊敬的用户，
    <br/> 您好！
  </p>
  <p style="word-break: break-all;">由于您在诺诺平台的借款暂未结清，请先至诺诺平台官网（www.nonobank.com）进行欠款充值操作。
    <br/> 或者，您也可以通过银行转账的方式，将欠款转账至我司法人的银行账户：
  </p>
  <p>
    收款方户名：黄大容
    <br/>收款方账号：6214850211370868
    <br/>收款方开户行：招商银行外高桥支行
  </p>
  <p>
    <strong>重要提醒：转账成功后，请把转账详情截图并及时发送给贷后或客服人员，若未及时发送导致费用增加或其他可能的损失将由您承担。</strong>
   <br/> <strong>该银行账户仅供您本次还款使用，若您用于其他用途或是提供给他人使用，可能会造成您或他人的损失。</strong>
  </p>
  <ul>
    <li>1. 转账时需要备注，诺诺平台用户名+手机号</li>
    <li>2. 银行卡到账会有一定延迟，请耐心等待</li>
    <li>3. 转账成功后，请把转账详情截图给贷后或客服人员，注意，此步骤非常重要，可能会影响充值时效。</li>
    <li>4. 还款成功后，将会收到短信通知，请耐心等待。</li>
    <li>5.如有疑问，请拨打客服电话：1010-0668。</li>
  </ul>
</div>
