<div class="light-bg margin-top text-center padding">
  <div class="dbl-padding-vertical margin-horizontal">
    <img width="100%" src="./assets/images/safe/titile@2x.png">    
  </div> 
  <div class="margin  dbl-padding stable-bg ">
    <p class="small text-left positive"><small class="positive-bg margin-right white">A1</small>底蕴深厚</p>
    <img class="dbl-margin-vertical" src="./assets/images/safe/pic01@2x.png">
    <p class="small dbl-line-height"><span class="positive">7年</span>稳健运营
      <br/>累计成交量近<span class="positive">190亿</span></p>
  </div>
  <div class="margin dbl-padding stable-bg">
    <p class="small text-left positive"><small class="positive-bg margin-right white">A2</small>实力强大</p>
    <img class="dbl-margin-vertical" src="./assets/images/safe/pic02@2x.png">
    <p class="small dbl-line-height">母公司麦子金服为国内领先的移动<br/>金融服务公司，获海通创新战略投资</p>
  </div>
  <div class="margin dbl-padding stable-bg">
    <p class="small text-left positive"><small class="positive-bg margin-right white">A3</small>债权真实</p>
    <img class="dbl-margin-vertical" src="./assets/images/safe/pic03@2x.png">
    <p class="small dbl-line-height">债权主要来源于麦子金服旗下的<br/>名校贷、大房东等优质借款债权。<br/>特点：<span class="positive">小额、分散、可信</span></p>
  </div>
  <div class="margin dbl-padding stable-bg padding-right">
    <p class="small text-left positive"><small class="positive-bg margin-right white">A4</small>风控严谨</p>
   <img class="dbl-margin-vertical" src="./assets/images/safe/pic04@2x.png">
    <p class="small dbl-line-height">麦子金服建立多维风控体系全面保障<br/>来自银行的专业风控团队层层把关，以完善的<br/>风险保障体系严守资金安全</p>
  </div>
  <div class="margin  dbl-padding stable-bg ">
    <p class="small text-left positive"><small class="positive-bg margin-right white">A5</small>交易安全</p>
    <img class="dbl-margin-vertical" src="./assets/images/safe/pic05@2x.png">
    <p class="small dbl-line-height no-margin text-left">坚持同卡进出，用户信息（姓名、身份证、卡号、预留手机号）必须完全一致，投资/提现才能成功</p>
    <p class="small dbl-line-height text-left"><span class="positive">CFCA：</span>您的每一笔投资都有CFCA对网络交易及电子合同安全上锁</p>
  </div>
  <div class="margin  dbl-padding stable-bg ">
    <p class="small text-left positive"><small class="positive-bg margin-right white">A6</small>技术保障</p>
    <img class="dbl-margin-vertical" src="./assets/images/safe/pic06@2x.png">
    <p class="small dbl-line-height no-margin text-left">成熟技术运营平台：业内唯一的高新技术企业和双软认证企业；27项计算机软件著作权，被中科院认定为“国内领先，国际先进”；通过全球最大的SSL证书机构<span class="positive">VerSign</span>认证</p>
    <p class="small dbl-line-height text-left">资深技术核心团队：核心技术团队皆来自<span class="positive">阿里、腾讯、百度</span>等顶级互联网及金融安全机构</p>
  </div>
  
</div>
