<h1 class="title">现金券使用规则</h1>
<section class="content">
  <div class="box">
    <h2>1.什么是现金券？</h2>
    <p>现金券是麦子金服财富向用户提供的一种投资抵扣券，用户可在麦子金服财富投资时，根据现金券的面值抵扣等额的投资金额。（例：用户投资诺诺精选2000元人民币，抵扣面值100元的现金券后，实际只需支付1900元人民币。）</p>
    <p>现金券仅作为一项用户福利，不可折现、不可转让，用户须在有效期内按现金券的使用条件抵扣投资金额。</p>
  </div>
  <div class="box">
    <h2>2.如何获取现金券？</h2>
    <p>1.为感恩回馈新老用户，麦子金服财富会不定期地发放现金券给用户，用户可在我的福利中查看。</p>
    <p>2.可在诺币商城使用诺币兑换现金券。</p>
  </div>
  <div class="box">
    <h2>3.如何使用现金券？</h2>
    <p>现金券只能在麦子金服财富进行投资时使用，步骤如下： </p>
    <p>1、选购完投资项目后进入支付页面，若账户中存在符合使用条件的现金券，则默认全部勾选并使用；</p>
    <p>2、用户可选择使用部分或全部现金券；</p>
    <p>3、使用后，用户仅需支付抵扣现金券后剩余的投资金额。</p>
  </div>
</section>

<h1 class="title icon-jiaxi">加息券使用规则</h1>
<section class="content">
  <div class="box">
    <h2>1.什么是加息券？</h2>
    <p>加息券是麦子金服财富向用户提供的一种投资返利券，用户可在麦子金服财富投资后，根据所使用的加息券的年化利率，在结算时获得额外的收益奖励。（例：用户投资诺诺精选50,000元人民币，期限24个月，使用了年化利率为1%的加息券，则在结算时将额外获得1000元的收益奖励。）</p>
    <p>加息券仅作为一项用户福利，不可折现、不可转让，用户须在有效期内按加息券的使用条件及时使用。</p>
  </div>

  <div class="box">
    <h2>2.如何获得加息券？</h2>
    <p>1.为感恩回馈新老用户，麦子金服财富会不定期地发放加息券给用户，用户可在我的福利中查看。</p>
    <p>2.可在诺币商城使用诺币兑换加息券。</p>
  </div>

  <div class="box">
    <h2>3.如何使用加息券？</h2>
    <p>加息券只能在麦子金服财富进行投资时使用，步骤如下： </p>
    <p>1、选购完投资项目后进入支付页面，若账户中存在符合使用条件的加息券，则全部显示；</p>
    <p>2、用户可选择使用其中的1张加息券；</p>
    <p>3、使用后，在该笔投资结算时，用户获得额外的收益奖励。</p>
  </div>
</section>

<h1 class="title icon-jiaxi">特权本金使用规则</h1>
<section class="content">
  <div class="box">
    <h2>1.什么是特权本金？</h2>
    <p>1.特权本金是麦子金服财富向用户派发的一项福利，用户可以获取该笔特权本金所产生的收益，本金归麦子金服财富所有；</p>
    <p>2.特权本金的预期年化收益和提现方式，以活动页面公告为准；</p>
    <p>3.特权本金及收益可在官网“我的账户-我的福利-特权本金”中查看，也可在移动端“我的账户-特权本金”中查看；</p>
    <p>4.本活动最终解释权归麦子金服财富所有。</p>
  </div>
</section>

<h1 class="title icon-jiaxi">现金红包使用规则</h1>
<section class="content">
  <div class="box">
    <h2>1.什么是现金红包？</h2>
    <p>现金红包是麦子金服财富向用户提供的一种福利模式，用户根据使用规则激活现金红包后，现金红包可直接入账至平台账户余额，可直接提现或抵扣投资金额。<br/>现金红包仅作为一项用户福利，用户须在有效期内按现金红包使用条件激活使用。</p>
    <h2>2、如何获取现金红包？</h2>
    <p>为感恩回馈新老用户，麦子金服财富会不定期地通过活动发放现金红包给用户，用户可在我的福利中查看。</p>
  </div>
</section>