<h5>第一条	释义</h5>
<p>除非本协议另有规定，以下词语在本协议中定义如下：</p>
<p>
1.	甲方/您：指通过诺诺镑客平台完成实名注册的用户，合法拥有可支配资金，并自愿加入本服务的自然人。</p>
<p>2.	乙方/诺诺镑客/平台：指上海诺诺镑客金融信息服务有限公司，设立并运营互联网信息中介平台——诺诺镑客包括PC端（网址：www.nonobank.com）及手机端APP等，为甲方及平台其他实名注册用户提供信息中介、信息管理、居间撮合等服务。</p>
<p>3.	标的资产：指甲方加入本服务后具体投资的债权资产，包括但不限于与原持有人发生转让交易获得的债权资产及直接将资金出借给特定借款人产生的债权资产。具体信息以平台公示信息为准。</p>
<p>4.	交易相对方：指甲方加入或退出本服务时，与甲方实际发生标的资产相关交易的主体，包括甲方加入本服务后向甲方转让标的资产的转让人、向甲方借入资金的借款人及甲方退出本服务时受让甲方届时持有的标的资产的受让人。</p>
<p>5.	支付机构：为本协议交易提供资金划转、支付结算等相关支付服务的机构，包括但不限于诺诺镑客合作的第三方支付机构、银行等。</p>

<p>6.	预期年化利率：指甲方加入本服务后所获预期收益与其投资本金之间的年化比率;实际年化利率指甲方退出本服务时实际收到的投资收益与其投资本金之间的年化比率。</p>
<p>7.	服务期限：指甲方成功加入本服务次日起至甲方成功退出本服务之日止，乙方为甲方提供本服务的最长期限不超过12个月。
</p>
<p>8.	锁定期：指本服务加入次日起至甲方可申请退出本服务之日的最短期限，具体期限以本协议或平台公示信息为准。锁定期内，除非乙方同意或另行发布其他交易规则，否则甲方不能退出本服务。
</p>
<p>9.	回款：指甲方成功加入本服务后，标的资产项下的债务人根据《借款协议》等约定按期向甲方偿还的或本金，或收益，或违约金（如有），或罚息（如有）等一笔或多笔款项的总称。在甲方加入本服务后至甲方申请退出本服务之日期间，甲方在此不可撤销地授权乙方有权对上述回款进行复投。
</p>

<h5>第二条	服务概述</h5>
<p>1.月月升服务基本介绍
<br/>
乙方根据甲方真实、明确授权，将甲方加入本服务的资金分散匹配投资至本服务项下指定标的项目或产品（以平台公示的标的资产信息为准），并撮合甲方与交易相对方达成标的资产交易协议（包括但不限于《借款协议》、《债权转让协议》等）。
<br/>甲方加入本服务后，授权乙方将甲方基于标的资产偿还而获得的回款按照上述约定交易设计继续撮合甲方与交易相对方进行交易，以实现月月增息目的。
</p>
<p>2.	月月增息说明
<br/>甲方明确知晓，本协议所称月月增息仅为表述之便，甲方因授权乙方对每笔回款复投实现获得的超出非复投状态下所获投资收益的目的。
</p>
<p>3. 交易确认及授权
<br/>（1）甲方授权乙方依照本协议及平台公布信息确认的交易设计，撮合甲方与交易相对方达成具体交易协议，进行债权转让或受让、出借资金等交易，并按照本协议及前述交易协议约定，指令支付机构划转甲方的投资资金、回款及其他与本服务交易相关的款项
<br/>（2）甲方授权乙方有权通过第三方电子签名服务商（包括但不限于深圳法大大网络科技有限公司）向CFCA（中国金融认证中心 China Financial Certification Authority）提交甲方身份信息资料并申请“CA数字证书”和电子签章（统称“电子签章”）的认证或直接向CFCA提交甲方身份信息资料并申请“CA数字证书”和电子签章（统称“电子签章”）的认证。甲方在乙方平台进行投资及其他与本次投资相关行为时使用上述认证的电子签章所生成的电子合同视为甲方亲自签署的，由此产生的与该等电子合同相关的权利义务由甲方自行承担。
<br/>
此外，甲方授权乙方基于本服务而进行相关交易时对该等交易项下的各类协议（包括但不限于匹配标的资产、标的资产替换、标的资产转让、回款复投所需签署的债权转让协议、借款协议等）使用该电子签章。该授权的有效期限自甲方点击确认本协议或实际享受本服务之日起至甲方加入本服务后项下各资产所涉协议约定的全部权利义务履行完毕之日止。

<br/>（3）甲方不可撤销地授权乙方有权对本服务项下具体投资标的进行调整（包括但不限于标的资产自动到期后替换其他标的资产、服务到期后对持有债权进行全部转让或基于乙方运营原因对已匹配但未到期标的资产进行替换）。甲方加入本服务后的具体投资标的，可于成功加入后在甲方账户中查看。

<br/>（4）甲方授权乙方代为发送、接收与本服务所涉交易相关的各类通知、确认文件、催收文件等。
<br/>
  （5）甲方明确知晓并同意，甲方加入本服务后，甲方授权乙方根据上述约定撮合甲方进行交易，并代为确认相关交易协议的效力。该等授权行为所产生的全部法律后果由甲方自行承担且甲方同意乙方于每月的第1天以站内信方式向甲方发送上月资产交易变动情况。甲方应自行了解并确认，其具有承受相应风险的能力，同时愿意承担相关交易所发生的所有风险。

<br/>
  （6）甲方同意乙方根据本服务所涉交易需求，将甲方相关信息告知给交易相对方。
</p>


<h5>第三条	加入本服务的情况</h5>
<p>1.	甲方同意按照如下条件加入本服务： 
<br/>（1）	加入本服务的金额（以实际支付投资金额为准）：人民币【{{::protocol.data.buyAmount}}】元（小写）；人民币【{{::protocol.data.buyAmountUpper}}】元（大写）。 
<br/>（2）	锁定期：【 {{::protocol.data.lockingDay}}】天，自成功加入本服务后次日起算。 
<br/>（3）	服务期限：最长不超过12个月（365天）（含锁定期）。甲方成功加入本服务后，再次加入本服务的，乙方按照新的加入行为另行计算其锁定期、服务期限及其他事宜。
</p>
<p>2.月月增息方式：将甲方每期回款进行复投以实现甲方该月实际所获收益高于该月非复投状态下甲方所获得的收益。如因回款复投使得甲方加入资金获得的实际收益超过本服务预期收益的，甲方同意将超出本服务预期收益的部分作为乙方向甲方提供本服务而应收取的服务费，归乙方所有。
</p>
<p>
  3. 预期年化利率：锁定期内为【 {{protocol.data.rate}}】%，锁定期后按月递增，以平台公布信息为准。
</p>
<p>
  4.收益计算规则：甲方成功加入本服务后次日起开始计算收益，月利率=年利率/12，日利率=年利率/365。如甲方退出本服务当月持有的天数不足当月整月的，则乙方按照上月对应利率计算甲方最终获得的收益
</p>
<p>5.甲方通过平台系统成功加入本服务后，本协议生效，乙方即为甲方进行标的资产匹配并根据上述授权完成交易撮合和交易协议的签署。甲方授权乙方指令支付机构将加入本服务的资金划付至交易相对方。甲方加入资金以支付机构最终成功划付的资金金额为准。
</p>
<p>6.乙方不对甲方申请加入本服务的资金能够全部实现成功匹配并撮合交易进行任何形式的承诺。</p>


<h5>第四条	服务退出情况</h5>
<p>
	
1.	本服务锁定期届满后，甲方可申请退出本服务，甲方申请退出时仅能申请一次性全部退出。甲方退出本服务的申请被乙方受理后，无条件且不可撤销地同意并授权乙方将甲方届时持有的标的资产按照如下方式处理：
<br/>（1）乙方根据甲方提出申请时本服务对应的预期年化利率确认标的资产转让价格，撮合甲方与交易相对方达成转让交易；
<br/>（2）完成上述交易后，乙方代甲方发送资产转让通知（如需），同时乙方将转让交易具体信息以站内信、短信等方式通知甲方；
<br/>（3）甲方因退出本服务所获资金将支付至甲方在平台交易指定账户中。
</p>
<p>2.	如有多名（大于等于2人）投资人同时申请退出本服务，乙方按照各用户申请退出的时间先后顺序依次受理退出申请。同一时间提出申请的，按照申请退出的金额由小到大的顺序受理退出申请。
</p>
<p>3.	乙方收到甲方退出申请，并不意味着甲方一定能及时退出本服务。乙方承诺尽可能尽快撮合甲方与其他方达成标的资产转让交易以实现甲方退出目的，但乙方无法保证退出申请一定能够实现。无论甲方何时提出退出申请，乙方在本协议规定期限内尽最大努力帮助甲方撮合交易后仍未能成功使甲方退出的，则甲方将继续持有全部或部分该等资产直到乙方撮合成功，甲方方才全部成功退出。
</p>
<p>4.退出申请处理：甲方提交退出申请后，乙方将以债权转让方式帮助甲方实现标的资产及本服务的退出。乙方处理后，在系统根据本协议约定扣除应收服务费用后相关款项将直接划转至甲方在平台的交易账户。甲方对相关款项进行提现的，需按照平台公布的提现规则向第三方支付机构或银行支付相应费用的提现手续费。自甲方申请退出之日起，甲方停止享受投资收益。
</p>
<p>5.	如甲方未在服务期限内申请退出，则本服务期限届满之日（即服务期限满12个月），甲方授权乙方依据上述退出交易规则，以债权转让的方式帮助甲方全部退出并获得退出资金。
</p>
<p>6.在本服务期间，如甲方获得回款，但平台暂无符合本协议约定的标的资产，则甲方相关资金将自动划转至甲方平台交易账户。但甲方同意，除非甲方退出本服务，否则该部分资金甲方不得自由支配，乙方有权继续按照本协议约定进行撮合交易。如因甲方将该部分资金进行支配而造成甲方未能按照预期年化利率获得收益，乙方不承担赔偿责任。
</p>
<h5>第五条	投资收益说明</h5>
<p>1.	本协议或平台公示的预期年化利率为甲方加入本服务所投资金的预期年化回报。甲方已经知悉、了解并同意本协议所示预期年化利率不代表甲方最终实际收益情况，甲方投资本金以及收益存在不能够按期或足额收回的风险，乙方不对甲方最终实际所获收益及实际年化利率做任何形式的保证或承诺。如甲方通过本服务投资获得的实际年化利率未达到预期年化利率的情况下，乙方无补偿或保证义务。
</p> 
<p>2.	本服务项下的预期及实际年化利率均随甲方持有时间增加而增加。锁定期满后，甲方持有本协议项下的标的资产时间每超过1个月（如8月10日为锁定期的起算日，则至9月9日为1个月，每月实际天数随大小月变动），预期年化利率提升一个档位，甲方加入本服务期满12个月后预期年化利率不再调整并退出。
</p>
<h5>第六条	服务费用收取及税费承担 </h5>
<p>1.	乙方依据本协议向甲方提供服务，有权向甲方收取相应的服务费用。</p>
<p/>2.	服务费用的计算和收取： 
<br/>（1）退出服务费费率：1%；
<br/>（2）退出服务费计算方式：
<br/>退出服务费金额=甲方退出本服务时所获转让款*退出服务费费率；

<br/>（3）退出服务费的收取：甲方在锁定期内退出本服务的，乙方根据上述公式计算并向甲方收取退出服务费。
<br/>（4）退出服务费的减免：甲方在锁定期满之后退出本服务的，无需支付退出服务费。
<br/>（5）除上述退出服务费外，如甲方退出时最终所获实际收益超过本服务预期收益的，甲方同意将超出本服务预期收益的部分作为乙方向甲方提供本服务而应收取的服务费。甲方同意乙方有权指令支付机构在向甲方支付退出时的所获全部款项时，将应向乙方支付的上述各类费用一并划转给乙方。
<br/>（6）乙方有权根据业务状况调整上述各类费用的具体收取方式及标准，届时，乙方将通过包括但不限于网站公告、站内信、邮件、短信等方式通知甲方，该等告知自实际做出通知行为之日起生效。
</p>
<p>3.	甲方因加入本服务及享有本服务带来的收益所产生的税费由甲方自行根据法律法规规定缴纳并承担。</p>

<h5>第七条	风险保障</h5> 
<p>1.	加入本服务存在以下风险可能导致甲方的实际投资款项及其收益受损：
<br/>（1）政策及市场环境变化；
<br/>（2）标的资产的债务人还款能力下降；
<br/>（3）计算机系统故障或遭受黑客攻击；
<br/>（4）其他可能导致甲方的实际投资款项及其收益受损的风险；
</p>
<p>
2.	本服务项下投资资金及相关交易适用平台{{protocol.data.fp_protect_plan || '质量保障服务计划'}}，与{{protocol.data.fp_protect_plan || '质量保障服务计划'}}相关事宜以平台另行公布信息、规则为准。
</p>
<h5>第八条	服务的变更、终止 </h5>
<p>	
1.	在下列情况出现时，乙方可采取终止、暂停、控制交易额度、调整预期年化利率及其他合理措施对本服务内容进行调整：
<br/>（1）宏观经济变化，导致整体市场环境恶化，融资风险提高的；
<br/>（2）国家政策重大调整，导致本服务计划面临重大风险的；
<br/>（3）因本服务加入资金过大、过小或投资人投资金额短期内发生剧烈变动，导致管理成本提高或管理难度加大的；
<br/>（4）发生战争、地震、火山喷发、罢工、游行示威或政府管制等不可抗力原因导致服务计划无法持续的。发生以上情形的，乙方将采取合理措施最大程度规避风险，并及时通过约定的方式告知甲方，甲方确认此情况下乙方不承担违约责任。
<br/>（5）因标的资产状况原因，导致乙方需对本服务预期利率进行调整；
</p>

<p>2.	如因司法机关或行政机关对甲方采取强制措施导致其加入本服务的资金被全部或部分扣划、冻结，视为甲方提前退出本服务，本协议自动终止。本协议因此而自动终止的，甲方将不再享有相应收益，但甲方仍应按照本协议约定支付相关服务费用。
</p>

<p>3.乙方有权根据自身管理需求决定暂停接受甲方全部或部分加入、退出申请，同时有权自行决定是否中止或终止本服务运营。如乙方终止本服务时，甲方同意并授权乙方可根据本协议退出相关约定，撮合甲方将全部标的资产对外转让并完全退出本服务。届时，本协议将即行终止。
</p>

<h5>第九条	甲方声明和保证</h5> 
<p>1.	在签署本协议以前，甲方已认真阅读本协议有关条款，并就存在的任何疑义、问题已向乙方客服人员或相关专业人士进行了咨询、了解，对有关条款不存在任何疑问或异议，并对协议双方的权利、义务、责任与风险有清楚和准确的理解。 </p>
<p>2.甲方保证所使用的资金来源合法，且甲方对该等资金拥有完全且无瑕疵的处分权。如有第三方对资金归属、合法性问题提出异议，由甲方自行解决，否则甲方承担因此产生的损失和责任。</p>

<p>3.	甲方保证为履行本协议而向乙方提供的全部资料均真实、有效。 </p>
<p>4.	甲方同意并承诺按本协议及平台发布的相关规则和说明向乙方支付相关费用。</p>
<p>5. 甲方保证，除本协议另有约定外，因乙方履行本协议项下受托进行投资的法律后果均由甲方自行承担。
</p>
<p>6. 甲方保证其具备投资风险意识、风险识别能力、拥有非保本类金融产品投资的经历并熟悉互联网。同时，甲方保证已充分了解本服务可能涉及的债权标的情况及风险特征，确认具有相应的风险认知和承受能力且愿意自行承担因投资产生的本金或收益损失</p>
<p>7. 甲方保证及时查看乙方披露的标的资产信息，因甲方未及时了解相关信息导致的损失全部由甲方承担。</p>
<h5>第十条	违约责任 </h5>
<p>在本协议有效期内，一方违反本协议之任何条款，致使相关方遭受损失时，违约方须赔偿因此给对方造成的一切经济损失（包括但不限于诉讼/仲裁费用、律师费用、评估费、保全及担保费、交通费、差旅费、调查费及其他实现债权所产生的费用等）。双方均有过错的，应根据双方实际过错程度，分别承担各自的违约责任。
</p>
<h5>第十一条	 通知 </h5>
<p>1.双方同意，乙方依据本协议约定，须向甲方发送相关交易信息或通知时，采用以下方式中的任意一种，均视为有效送达： 
<br/>（1）平台公告通知； 
<br/>（2）向甲方在平台账户发送站内信； 
<br/>（3）向甲方预留于乙方的手机号码发送短信息或电话通知； 
<br/>（4）向甲方预留于乙方的电子邮箱发送电子邮件； 
<br/>（5）其他法律许可的通知方式；
</p>
<p>2．通知到达时间 
<br/>采用网站公告通知的，自通知之日起2日内即视为达到；采用站内信、邮件、手机短息甲方的通知，自信息到达甲方个人账户、电子邮箱、手机即视为送达；采用其他合法方式通知的，按照法律规定确定送达时间。
</p>
<h5>第十二条	  争议解决</h5>
<p>因本协议发生的与本协议有关的任何争议，双方应友好协商解决；协商不成时，可通过诉讼方式解决。所有争议均由乙方所在地，即上海市徐汇区人民法院管辖。 
</p>
<h5>第十三条	  其他事项</h5>
<p>1.	甲方可通过平台提供的信息及查询方式或咨询客服人员等方式了解相关信息。如未及时查询，或由于通讯故障、系统故障以及其他不可抗力等因素影响使甲方无法及时了解相关信息，乙方不承担甲方因此遭受的损失。</p>
<p>2.	本协议、甲方通过点击确认与乙方签署其他服务或注册协议、甲方基于本协议由乙方代为确认签署的标的资产相关交易协议等相关法律文件，以及平台不时公示/更新的平台规则及与本服务相关的交易规则、说明、公告等涉及甲乙双方权利义务的法律文件，共同构成了甲方在接受乙方提供本服务时应遵守的依据。甲方均须予以遵守，否则须承担相应损失、违约或赔偿责任。
</p>
<p>3.	由于地震、火灾、战争、电力中断、黑客攻击、计算机病毒、系统或网络故障等不可抗力导致的交易中断、延误的，甲乙双方互不追究责任。但应在条件允许的情况下，应采取一切必要的补救措施以减小不可抗力造成的损失。
</p>
<p>4. 甲方点击加入本服务即视为甲方完全理解并接受本协议全部内容，本协议自甲方在通过点击方式成功加入本服务或实际享受本服务时生效。如甲方在平台相关账户中无充足资金可加入本服务，导致乙方无法指令支付机构完成与本服务相关资金支付的，本服务加入资金以实际划转金额为准。</p>
<p>5.本协议采用电子文本形式制成，对双方均具有法律约束力。甲方同意，本协议签署后存储在乙方或乙方合作的第三方专用服务器上。除非法律法规规定，或监管部门要求，本服务不提供纸质合同或相关信息清单。</p>
</p>